* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared-styles */
.content-title {
  color: rgb(14, 14, 14);
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0%;
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
}
.btn {
  width: 122px;
  height: 41px;
  padding: 11px 20px 11px 20px;
  border-radius: 8px;
  background: rgb(9, 161, 92);
  border: none;
  color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 600;
  margin: 24px 0px;
}
.width {
  max-width: 1280px;
  margin: 80px auto;
}

.sub-content {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  font-family: "Fira Sans", serif;
  font-style: normal;
}

/* fira sans font */
.fira-sans {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
}
/* nav-menu */
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu h2 {
  font-size: 32px;
}
#navbar {
  max-width: 1280px;
  margin: auto;
}

/* banner-style */
.banner {
  background-image: url("./UI/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 100px;
  height: 560px;
}
.vision-cards {
  margin-top: 32px;
  display: flex;
  gap: 20px;
}
.vision-card {
  padding: 32px;
  border-radius: 16px;
  background: rgba(84, 144, 245, 0.2);
}
#vision-content {
  font-size: 20px;
}
#vision-sub-content {
  width: 345px;
}
#vision-card-2 {
  background-color: rgb(198, 228, 214);
}
#vision-card-3 {
  background-color: rgb(247, 235, 207);
}
#vision-btn-2 {
  margin-top: 43px;
}
/* recent-news */
.recent-news {
  margin-top: 80px;
}
.recent-news p {
  margin-top: 18px;
}
.recent-news-cards {
  display: flex;
  padding: 48px;
  gap: 32px;
  align-items: center;
}
.recent-news-card-img {
  border-radius: 25px;
  width: 400px;
  height: 300px;
}
#recent-news-sub-content {
  margin-top: 12px;
  width: 700px;
  height: 70px;
}
.recent-card-time-date {
  margin-top: 15px;
}
.footer {
  text-align: center;
  background: rgb(198, 228, 214);
  padding: 80px 100px;
  border-radius: 25px;
}
#footer-sub-content {
  width: 620px;
  height: 50px;
  margin: auto;
}
.footer input {
  padding: 18px 40px 18px 40px;
  width: 600px;
  height: 55px;
  border-radius: 8px 0px 0px 8px;
  border: none;
}
#footer-btn {
  border-radius: 0px 8px 8px 0px;
  height: 56px;
}
.footer-input {
  display: flex;
  gap: 0;
  align-items: center;
  justify-content: center;
}
.quote-section {
  background-image: url("./UI/quotes.png");
  padding: 48px 24px 48px 24px;
  height: 256px;
  margin-top: 50px;
}

.donate-section {
  text-align: center;
  margin-top: 50px;
}
#donate-sub-content {
  width: 1100px;
  margin: auto;
  padding: 30px 0;
}
.donate-card {
  padding: 40px;
  border-radius: 16px;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(14, 14, 14, 0.15);
}
.donate-cards {
  display: flex;
  gap: 25px;
  justify-content: center;
}
#donate-card-2 {
  background-color: rgb(198, 228, 214);
}
#donate-card-1:hover {
  background-color: aqua;
  transition: 1s;
}
#donate-card-3:hover {
  background-color: tomato;
  transition: 1s;
}
#donate-card-4:hover {
  background-color: aquamarine;
  transition: 1s;
}
